<p id="notice"><%= notice %></p>
<div id="main-container" class="container">

	

	<p>
	  <strong>Recipient name:</strong>
	  <%= @recipient.recipient_name %>
	</p>

	<p>
	  <strong>Customer:</strong>
	  <%= @recipient.customer.cust_name %>
	</p>

	<!-- <p class="nav_link">
		<%= link_to 'Edit', edit_recipient_path(@recipient) %> |
		<%= link_to 'Back', recipients_path %>
	</p> -->	
</div>