<div id="main-container" class="container">
	<p id="notice"><%= notice %></p>

	<form class="show_form">
		<p>
		  <strong>Date:</strong>
		  <%= @cheque.date %>
		</p>

		<p>
		  <strong>Amount:</strong>
		  $<%= @cheque.amount %>
		</p>

		<p>
		  <strong>Amount text:</strong>
		  <%= @cheque.amount_text %>
		</p>

		<p>
		  <strong>Recipient:</strong>
		  <%= @cheque.recipient.recipient_name %>
		</p>
	</form>

	<p class="nav_link">
		<!-- <%= link_to 'Edit', edit_cheque_path(@cheque) %> | -->
		<%= link_to 'Back', cheques_path %>
	</p>
</div>
