<div id="main-container" class="container">
	<p id="notice"><%= notice %></p>

	<form class="show_form">
		<p>

		  <h3>e-cheque</h3>	
		  <div id="date">
		  	<strong>Date:</strong>
		  	<%= @cheque.date %>
		  </div>
		</p>

			<div>
			  <strong style="float:left;">Amount:</strong>
			  <p id="display_amt">$<%= @cheque.amount %></p>
			</div>  

			<div id="display_amount_txt">
			  <strong style="float:left;">Amount text:</strong>
			  <p id="display_amt"><%= @cheque.amount_text %></p>
			</div>

			<div id="display_recp_name">
			  <strong style="float:left;">Recipient:</strong>
			  <p id="display_amt"><%= @cheque.recipient.recipient_name %></p>
			</div>  
	</form>

	<p class="nav_link">
		<!-- <%= link_to 'Edit', edit_cheque_path(@cheque) %> | -->
		<!-- <%= link_to 'Back', cheques_path %>? -->
	</p>
</div>
